
/* Add a color to the active/current link */
.topNavigationsbar {
    background: linear-gradient(to right, #000000 0%,#0022AE 25%, #000000 50%,#0022AE 75%,#000000 100%);
    color: white;
}

.topNavigationsbar input {
    color: black;
}

.Logo {
    background-color: #4CAF50;
    color: white;
}
.login {
    text-align: right;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
body {
    font-family: Bahnschrift, serif;
}
