
.overlay {
    width:100%;
    height:100%;
    background: #000000;
    opacity: .4;
    position: absolute;
}

.topNavigationsbar {
    background: linear-gradient(to right, #000000 0%,#0022AE 25%, #000000 50%,#0022AE 75%,#000000 100%);
    color: white;
    line-height: 20px;
    border-bottom: 2px solid black;
    position: fixed;
    width: 100%;
    text-align: center;
}

.topNavigationsbar input {
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Logo {
    font-weight: bold;
    font-size: large;
    cursor:pointer;
    text-decoration:none;
    color: inherit;
    margin-left: 10px;
    margin-right: 25%;
}
.login {
    text-align: right;
}
.table {
    background-color: white;
    border: 3px solid black;
}
h1,h2,h3,h4,h5,h6 {
    position: relative;
    text-align: center;
    color: white;
    text-shadow:2px 2px 2px #000;
    z-index: auto;
}
body {
    font-family: Bahnschrift, serif;
    background-image: url(static/img/business-wallpaper.jpg);
    background-size: 100% 100%;
}
.button {
    height: 20px;
}
.searchBar {
    position: relative;
    margin-top: 10px;
    text-align: center;
    line-height: 30px;
    font-size: large;
}
.header {
    font-size: 70px;
}
.bottomBar {
    position: fixed;
    text-align: right;
    color: white;
    margin-left: 25px;
    margin-top: 25%;
}