
.topNavigationsbar {
    background: linear-gradient(to right, #000000 0%,#0022AE 25%, #000000 50%,#0022AE 75%,#000000 100%);
    color: white;
    line-height: 20px;
    border-bottom: 2px solid black;
}

.topNavigationsbar input {
    color: black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Logo {
    font-size: xx-large;
    height: 40px;
    cursor:pointer;
    text-decoration:none;
    color: inherit;
}
.login {
    text-align: right;
}
.table {
    background-color: white;
    border: 3px solid black;
}
h1,h2,h3,h4,h5,h6 {
    border: 1px black;
    text-align: center;
    color: black;
}
body {
    font-family: Bahnschrift, serif;
    background-image: url(static/img/business-wallpaper.jpg);
    background-size: 100% 100%;
}
.button {
    height: 20px;
}
