<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/createUser}" method="post">
    <table>
        <tr>
            <th><p>Brugernavn</p></th>
            <td><input type="text" th:field="${user.username}" placeholder="Brugernavn" onfocus="this.placeholder=''" onblur="this.placeholder='Brugernavn'" required/></td>
        </tr>
        <tr>
            <th><p>Adgangskode</p></th>
            <td><input type="password" th:field="${user.password}" placeholder="Adgangskode" onfocus="this.placeholder=''" onblur="this.placeholder='Adgangskode'" required/></td>
        </tr>
        <tr>
            <th><p>Fornavn</p></th>
            <td><input type="text" th:field="${user.firstname}" placeholder="Fornavn" onfocus="this.placeholder=''" onblur="this.placeholder='Fornavn'" required/></td>
        </tr>
        <tr>
            <th><p>Efternavn</p></th>
            <td><input type="text" th:field="${user.lastname}" placeholder="Efternavn" onfocus="this.placeholder=''" onblur="this.placeholder='Efternavn'" required/></td>
        </tr>
        <tr>
            <th><p>Email adresse</p></th>
            <td><input type="text" th:field="${user.mail}" placeholder="Email adresse" onfocus="this.placeholder=''" onblur="this.placeholder='Fornavn'" required/></td>
        </tr>
        <tr>
            <th><p>Uddannelse</p></th>
            <td><input type="text" th:field="${user.education}" placeholder="Uddannelse" onfocus="this.placeholder=''" onblur="this.placeholder='Efternavn'" required/></td>
        </tr>
        <tr>
            <th><p>Nationalitet</p></th>
            <td><input type="text" th:field="${user.nationality}" placeholder="Nationalitet" onfocus="this.placeholder=''" onblur="this.placeholder='Fornavn'" required/></td>
        </tr>
        <tr>
            <th><p>Telefon nummer</p></th>
            <td><input type="text" minlength="8" maxlength="8" pattern="[0-9]{8}" th:field="${user.phoneNumber}" placeholder="Telefon Nummer" onfocus="this.placeholder=''" onblur="this.placeholder='Tlf nummer'" required/></td>
        </tr>
        <tr>
            <th><p>Køn</p></th>
            <td>
                <select th:field="${user.gender}">
                    <option value="Ikke oplyst">Ikke oplyst</option>
                    <option value="Mand">Mand</option>
                    <option value="Kvinde">Kvinde</option>
                </select>
            </td>
        </tr>
        <tr>
            <th><p>Fødselsdato</p></th>
            <td><input type="text" th:field="${user.birthdate}" minlength="10" maxlength="10" placeholder="dd-mm-yyyy" onfocus="this.placeholder=''" onblur="this.placeholder='dd-mm-yyyy'" required/></td>
        </tr>

    </table>
    <br><br>
    <p><input type="submit" value="Opret"/></p>
</form>
<div style="text-align: center">
    <a th:href="${'/'}"><button>Annuller</button></a>
</div>
</body>
</html>