<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete Firm</title>
</head>
<body>

<div class="delete">
    <br>
    <h3>Er du sikker på at du vil slette: </h3>

    <form th:action="@{/firmList/deleteFirm/}+ ${firm.firmId} + '/' + ${user.userId}" method="post">

        <p th:text="${firm.firmName+ ' ' +  firm.firmType}"> </p>
        <input type="hidden" th:field="${firm.firmId}"/>
        <br>
        <p><input type="submit" value="Slet Firma" /></p>
    </form>
    <br>
    <a th:href="@{'/firmList'} + '/' + ${user.userId}"><button>Annuller</button></a>
    <br>
</div>
</body>
</html>