<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/css/Stylesheet.css}" href="/css/Stylesheet.css" rel="stylesheet" type="text/css" media="screen"/>
<link th:href="@{/img/business-wallpaper.jpg}" href="/static/img/" rel="stylesheet" media="screen"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: url(/img/business-wallpaper.jpg); background-attachment: fixed; background-size: 100% 100%">
<div class="topNavigationsbar">
    <span th:if="${user.privileges == null}">
        <form th:action="@{/}"  method="post">
            <tr>
                <span style="float: left; margin-left: 10px">
                    <td style="text-align: left"><a class="Logo" th:href="@{'/'}" style="text-decoration:none;color: inherit"><span>SALTY</span><span style="color: dodgerblue">FIRM</span></a></td>
                </span>
                <span style="text-align: center">
                    <td th:text="'Username'" style="margin-left: 5px"></td>
                    <td><input type="text" placeholder="Username" th:field="${user.username}" autocomplete="off" style="line-height: 30px;height: 30px" required></td>
                    <td th:text="' Password'" style="margin-right: 20px"></td>
                    <td><input type="password" placeholder="Password" th:field="${user.password}" autocomplete="off" style="line-height: 30px;height: 30px" required></td>
                    <td><button th:value="Login" type="submit" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 10px;height: 30px;line-height: 10px" >Login</button></td>
                </span>
                <span style="float: right;margin-right: 10px;margin-top: 10px">
                    <td><button th:text="'Opret Bruger'" th:href="${'/createUser'}" class="btn btn-lg btn-default" style="margin-left: 10px;height: 30px;line-height: 10px"></button></td>
                </span>
            </tr>
        </form>
    </span>
    <span th:if="${user.privileges == 'Bruger'}">
        <tr>
            <span style="float: left; margin-left: 10px">
                    <td style="text-align: left"><a class="Logo" th:href="@{'/'}+${user.userId}" style="text-decoration:none;color: inherit"><span>SALTY</span><span style="color: dodgerblue">FIRM</span></a></td>
            </span>
            <span style="text-align: center">
                <td><a th:href="@{'/user'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 5%;height: 30px;line-height: 10px">Se Profil</a></td>
                <td><a th:href="@{'/createReview'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin: 10px;height: 30px;line-height: 10px">Opret Anmeldelse</a></td>
                <td><span style="margin-top: 5px;margin-bottom: 5px"></span></td>
            </span>
            <span style="float: right;margin-right: 10px;margin-top: 10px">
                <td><b th:text="'Logget ind som: '"></b></td>
                <td><b th:text="${user.username}" style="color: dodgerblue;margin-left: 5px"></b></td>
                <td><a th:href="@{'/'}" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 10px;height: 30px;line-height: 10px">Log ud</a></td>
            </span>
        </tr>
    </span>
    <span th:if="${user.privileges == 'Administrator'}">
        <span style="float: left; margin-left: 10px">
                    <td style="text-align: left"><a class="Logo" th:href="@{'/'}+${user.userId}" style="text-decoration:none;color: inherit"><span>SALTY</span><span style="color: dodgerblue">FIRM</span></a></td>
        </span>
        <span style="text-align: center">
            <a th:href="@{'/user'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 5%;height: 30px;line-height: 10px">Se Profil</a>
            <a th:href="@{'/userList'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 10px;height: 30px;line-height: 10px">Se Brugerliste</a>
            <a th:href="@{'/firmList'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin: 10px;height: 30px;line-height: 10px">Se Firmliste</a>
            <td><span style="margin-top: 5px;margin-bottom: 5px"></span></td>
        </span>
        <span style="float: right;margin-right: 10px;margin-top: 10px">
            <td><b th:text="'Logget ind som: '"></b></td>
            <td><b th:text="${user.username}" style="color: dodgerblue;margin-left: 5px"></b></td>
            <td><a th:href="@{'/'}" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 10px;height: 30px;line-height: 10px">Log ud</a></td>
        </span>
    </span>
</div>
<br><br><br>
<div class="container">
    <br>
    <h4>Er du sikker på at du vil slette anmeldelsen fra </h4>

    <form th:action="@{/user/deleteReview/}+${user.userId}+'/'+${review.reviewId}" method="post">
        <h2 th:text="${review.firmName}+' - '+${review.departmentName}" style="color: dodgerblue"></h2>

        <h4>med følgende anmeldelse:</h4>
        <table class="table table-bordered">
            <table class="table table-bordered">
                <tr>
                    <td style="width: 20%;text-align: right;color: white;background-color: #555555">Stilling</td>
                    <td th:text="${review.position}"></td>
                </tr>
                <tr>
                    <td style="width: 20%;text-align: right;color: white;background-color: #555555">Ansættelsestid</td>
                    <td th:text="${review.employmentTime}+' måneder'"></td>
                </tr>
                <tr>
                    <td style="width: 20%;text-align: right;color: white;background-color: #555555">Beskrivelse</td>
                    <td th:text="${review.post}"></td>
                </tr>
            </table>
            <table class="table table-bordered">
                <thead style="width: 20%;text-align: right;color: white;background-color: #555555">
                <tr>
                    <th>Pensionsordning</th>
                    <th>Personalegoder</th>
                    <th>Ledelsen</th>
                    <th>Arbejdsmiljø</th>
                    <th>Fleksibilitet</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><p th:text="${review.PensionScheme} + ' / 10'"></p></td>
                    <td><p th:text="${review.benefits} + ' / 10'"></p></td>
                    <td><p th:text="${review.management} + ' / 10'"></p></td>
                    <td><p th:text="${review.workEnvironment} + ' / 10'"></p></td>
                    <td><p th:text="${review.flexibility} + ' / 10'"></p></td>
                </tr>
                </tbody>
            </table>
        </table>
        <div>
            <p style="text-align: center"><input type="submit" style="height: 40px;width: 200px;font-size: large;color: red" value="Slet Anmeldelse" /></p>
        </div>
    </form>
    <div style="text-align: center">
        <a th:href="@{'/user/'}+${user.userId}"><button style="height: 40px;width: 200px;font-size: large">Annuller</button></a>
    </div>
    <br>
</div>
</body>
</html>