<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/css/Stylesheet.css}" href="/css/Stylesheet.css" rel="stylesheet" type="text/css" media="screen"/>
<link th:href="@{/img/business-wallpaper.jpg}" href="/static/img/" rel="stylesheet" media="screen"/>
<head>
    <meta charset="UTF-8">
    <title>Delete Firm</title>
</head>
<body style="background-image: url(/img/business-wallpaper.jpg); background-attachment: fixed; background-size: 100% 100%">
<div class="delete">
    <br>
    <h3>Er du sikker på at du vil slette: </h3>

    <form th:action="@{/firmList/deleteFirm/}+ ${firm.firmId} + '/' + ${user.userId}" method="post">

        <p th:text="${firm.firmName+ ' ' +  firm.firmType}"> </p>
        <input type="hidden" th:field="${firm.firmId}"/>
        <br>
        <p><input type="submit" value="Slet Firma" /></p>
    </form>
    <br>
    <a th:href="@{'/firmList'} + '/' + ${user.userId}"><button>Annuller</button></a>
    <br>
</div>
</body>
</html>