<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/css/Stylesheet.css}" href="/css/Stylesheet.css" rel="stylesheet" type="text/css" media="screen"/>
<link th:href="@{/img/business-wallpaper.jpg}" href="/static/img/" rel="stylesheet" media="screen"/>

<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body style="background-image: url(/img/business-wallpaper.jpg); background-attachment: fixed; background-size: 100% 100%">
<h1>SLET BRUGER</h1>

<div class="delete">
    <br>
    <h3>Er du sikker på at du vil slette: </h3>

    <form th:action="@{/user/deleteBasicUser/}+${user.userId}" method="post">
        <b th:text="${user.username}"></b>
        <p th:text="${user.firstname + ' ' +  user.lastname}"> </p>
        <input type="hidden" th:field="${user.userId}"/>
        <br>
        <p><input type="submit" value="Delete user" /></p>
    </form>
    <br>
    <a th:href="@{'/user'} + '/' + ${user.userId}"><button>Annuller</button></a>
    <br>
</div>
</body>
</html>