<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/css/Stylesheet.css}" href="/css/Stylesheet.css" rel="stylesheet" type="text/css" media="screen"/>
<link th:href="@{/img/business-wallpaper.jpg}" href="/static/img/" rel="stylesheet" media="screen"/>

<head>
    <meta charset="UTF-8">
    <title>SaltyFirm</title>
</head>
<body style="background-image: url(/img/business-wallpaper.jpg); background-attachment: fixed; background-size: 100% 100%">
<h1 th:text="'Oversigt over '+${firm.firmName}+'´s afdelinger'"></h1>
<div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Afdelings id</th>
            <th>Afdelings navn</th>
            <th>Afdelings address</th>
            <th>Afdelings score</th>
            <th>Afdelings options</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="department : ${departmentList}">
            <td><p th:text="${department.departmentId}"></p></td>
            <td><p th:text="${department.departmentName}"></p></td>
            <td><p th:text="${department.departmentAddress}"></p></td>
            <td><p th:text="${department.departmentScore}"></p></td>

            <td>
                <a class="glyphicon glyphicon-edit" th:href="${'editDepartment/' + department.departmentId +'/'+ user.userId}"></a>
                <a class="glyphicon glyphicon-remove" th:href="${'deleteDepartment/' + department.departmentId +'/'+ user.userId}"></a>
            </td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{'/firmList/'}+${user.userId}"><button>Tilbage</button></a>
</div>
</body>
<div>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</div>
</html>