<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/css/Stylesheet.css}" href="/css/Stylesheet.css" rel="stylesheet" type="text/css" media="screen"/>
<link th:href="@{/img/business-wallpaper.jpg}" href="/static/img/" rel="stylesheet" media="screen"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image: url(/img/business-wallpaper.jpg); background-attachment: fixed; background-size: 100% 100%">
<form th:action="@{/firmList/departmentList/}+${firm.firmId}+'/editDepartment/'+${department.departmentId}+'/'+${user.userId}" method="post">
    <table>
        <tr>
            <th><p>Firmaets Navn</p></th>
            <td><p th:field="${firm.firmName}"></p></td>
        </tr>
        <tr>
            <th><p>Afdelingens navn</p></th>
            <td><input type="text" th:field="${department.departmentName}" placeholder="Afdelingsnavn" onfocus="this.placeholder=''" onblur="this.placeholder='Afdelingsnavn'" required/></td>
        </tr>
        <tr>
            <th><p>Afdelingens adresse</p></th>
            <td><input th:field="${department.departmentAddress}"></td>
        </tr>
    </table>
    <p><input type="submit" value="Opdater Afdeling" /></p>
</form>
<a th:href="'/firmList/departmentList/' + ${firm.firmId} + '/' + ${user.userId}"><button>Annuller</button></a>
</body>
</html>