<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/css/Stylesheet.css}" href="/css/Stylesheet.css" rel="stylesheet" type="text/css" media="screen"/>
<link th:href="@{/img/business-wallpaper.jpg}" href="/static/img/" rel="stylesheet" media="screen"/>
<head>
    <meta charset="UTF-8">
    <title>Edit Review</title>
</head>
<body style="background-image: url(/img/business-wallpaper.jpg); background-attachment: fixed; background-size: 100% 100%">
<div class="topNavigationsbar">
    <span th:if="${user.privileges == null}">
        <form th:action="@{/}"  method="post">
            <tr>
                <td style="text-align: left"><a class="Logo" th:href="@{'/'}" style="text-decoration:none;margin-right: 23%;">SALTY<span style="color: dodgerblue">FIRM</span></a></td>
                <td th:text="'Username'" style="margin-left: 5px"></td>
                <td><input type="text" placeholder="Username" th:field="${user.username}" autocomplete="off" style="line-height: 30px;height: 30px" required></td>
                <td th:text="' Password'" style="margin-right: 20px"></td>
                <td><input type="password" placeholder="Password" th:field="${user.password}" autocomplete="off" style="line-height: 30px;height: 30px" required></td>
                <td><button th:value="Login" type="submit" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 10px;height: 30px;line-height: 10px" >Login</button></td>
                <td><a style="margin-right: 25px;margin-left: 23%;height: 30px;line-height: 10px" th:href="${'/createUser'}" class="btn btn-lg btn-default">Opret bruger</a></td>
            </tr>
        </form>
    </span>
    <span th:if="${user.privileges == 'Bruger'}">
        <tr>
                <td style="text-align: left"><a class="Logo" th:href="@{'/'} + ${user.userId}" style="text-decoration:none;color: inherit;margin-right: 29%;">SALTY<span style="color: dodgerblue">FIRM</span></a></td>
            <td><a th:href="@{'/user'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 10px;height: 30px;line-height: 10px">Se Profil</a></td>
            <td><a th:href="@{'/createReview'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin: 10px;height: 30px;line-height: 10px">Opret Anmeldelse</a></td>
            <td><span style="margin-top: 5px;margin-bottom: 5px"></span></td>
            <td><b th:text="'Logget ind som: '" style="margin-left: 24%"></b></td>
            <td><b th:text="${user.username}" style="color: dodgerblue;margin-left: 5px"></b></td>
            <td><a th:href="@{'/'}" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 10px;height: 30px;line-height: 10px">Log ud</a></td>
        </tr>
    </span>
    <span th:if="${user.privileges == 'Administrator'}">
        <td style="text-align: left"><a class="Logo" th:href="@{'/'} + ${user.userId}" style="text-decoration:none;color: inherit;margin-right: 25%;">SALTY<span style="color: dodgerblue">FIRM</span></a></td>
        <a th:href="@{'/user'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 10px;height: 30px;line-height: 10px">Se Profil</a>
        <a th:href="@{'/userList'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 10px;height: 30px;line-height: 10px">Se Brugerliste</a>
        <a th:href="@{'/firmList'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin: 10px;height: 30px;line-height: 10px">Se Firmliste</a>
        <td><span style="margin-top: 5px;margin-bottom: 5px"></span></td>
        <td><b th:text="'Logget ind som: '" style="margin-left: 20%"></b></td>
        <td><b th:text="${user.username}" style="color: dodgerblue;margin-left: 5px"></b></td>
        <td><a th:href="@{'/'}" class="btn btn-lg btn-default" style="margin-right: 10px;margin-left: 10px;height: 30px;line-height: 10px">Log ud</a></td>
    </span>
</div>
<br><br><br>
<h1>Edit Review</h1>
<form th:action="@{/user/editReview/}+${user.userId}+'/'+${review.reviewId}" method="post">
    <table>
        <tr>
            <th><p>Firmaets Navn</p></th>
            <td><p th:text="${review.firmName}"></p></td>
        </tr>
        <tr>
            <th><p>Afdelingens Navn</p></th>
            <td><p th:text="${review.departmentName}"></p></td>
        </tr>
        <tr>
            <th><p>Stilling</p></th>
            <td><input type="text" th:field="${review.position}" placeholder="Stilling" onfocus="this.placeholder=''" onblur="this.placeholder='Stilling'" required/></td>
        </tr>
        <tr>
            <th><p>Ansættelsesperiode (I antal måneder)</p></th>
            <td><input type="text" th:field="${review.employmentTime}" placeholder="Stilling" onfocus="this.placeholder=''" onblur="this.placeholder='Ansættelsesperiode'" required/></td>
        </tr>
        <tr>
            <th><p>Løn</p></th>
            <td>
                <select th:field="${review.salary}">
                    <option value="1">Under 10.000 kr. </option>
                    <option value="2">10.000 - 15.000 kr.</option>
                    <option value="3">15.000 - 20.000 kr.</option>
                    <option value="4">20.000 - 25.000 kr.</option>
                    <option value="5">25.000 - 30.000 kr.</option>
                    <option value="6">30.000 - 35.000 kr.</option>
                    <option value="7">35.000 - 40.000 kr.</option>
                    <option value="8">40.000 - 45.000 kr.</option>
                    <option value="9">45.000 - 50.000 kr.</option>
                    <option value="10">Over 50.000 kr.</option>
                </select>
            </td>
        </tr>
        <th><b>Bedømmelser:</b></th>
        <tr>
            <th><p>Pensionsordning</p></th>
            <td>
                <input th:field="${review.pensionScheme}" type="number" name="rating" min="1" max="10" step="1" value="5" required/>
            </td>
        </tr>
        <tr>
            <th><p>Arbejdsmiljø</p></th>
            <td>
                <input th:field="${review.workEnvironment}" type="number" name="rating" min="1" max="10" step="1" required/>
            </td>
        </tr>

        <tr>
            <th><p>Personalegoder</p></th>
            <td>
                <input th:field="${review.benefits}" type="number" name="rating" min="1" max="10" step="1" required/>
            </td>
        </tr>
        <tr>
            <th><p>Flexibilitet</p></th>
            <td>
                <input th:field="${review.flexibility}" type="number" name="rating" min="1" max="10" step="1" required/>
            </td>
        </tr>
        <tr>
            <th><p>Ledelsen</p></th>
            <td>
                <input th:field="${review.management}" type="number" name="rating" min="1" max="10" step="1" required/>
            </td>
        </tr>
        <tr>
            <th><p>Uddybbende kommentarer</p></th>
            <td>
                <textarea th:field="${review.post}" rows="4" cols="50"></textarea>
            </td>
        </tr>
    </table>
    <p><input type="submit" value="Opdater Anmeldelse" /></p>
</form>
<a th:href="'/user/'+${user.userId}"><button>Annuller</button></a>
</body>
</html>