<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/css/Stylesheet.css}" href="/css/Stylesheet.css" rel="stylesheet" type="text/css" media="screen"/>
<link th:href="@{/img/business-wallpaper.jpg}" href="/static/img/" rel="stylesheet" media="screen"/>

<head>
    <meta charset="UTF-8">
    <title>SaltyFirm</title>
</head>
<body style="background-image: url(/img/business-wallpaper.jpg); background-attachment: fixed; background-size: 100% 100%">
<div class="container">
    <h1>Beklager, noget gik galt på vores side</h1>
</div>
<div>
    <a th:href="@{'/'}"><button style="height: 40px;width: 200px;font-size: large">Tilbage</button></a>
</div>
</body>
<div>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</div>
</html>