<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/css/Stylesheet.css}" href="/css/Stylesheet.css" rel="stylesheet" type="text/css" media="screen"/>
<link th:href="@{/img/business-wallpaper.jpg}" href="/static/img/" rel="stylesheet" media="screen"/>

<head>
    <meta charset="UTF-8">
    <title>SaltyFirm</title>
</head>
<body style="background-image: url(/img/business-wallpaper.jpg); background-attachment: fixed; background-size: 100% 100%">
    <div>
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>Firma id</th>
                <th>Firma navn</th>
                <th>Firma type</th>
                <th>Firma overall score</th>
                <th>Firma beskrivelse</th>
                <th>Firma logo URL</th>
                <th>Firma logo</th>
                <th>Firma options</th>



            </tr>
            </thead>

            <tbody>
            <tr th:each="firm : ${firmlist}">
                <td><p th:text="${firm.firmId}"></p></td>
                <td><a th:text="${firm.firmName}" th:href="@{departmentList/} + ${firm.firmId} + '/' + ${user.userId}"></a></td>
                <td><p th:text="${firm.firmType}"></p></td>
                <td><p th:text="${firm.overallScore}"></p></td>
                <td><p th:text="${firm.description}"></p></td>
                <td><p th:text="${firm.logoURL}"></p></td>
                <td><img th:src="${firm.logoURL}" style="height: 100px;display: block;margin-left: auto;margin-right: auto"></td>
                <td>
                    <a class="glyphicon glyphicon-edit" th:href="${'editFirm/' + firm.firmId + '/' + user.userId}"></a>
                    <a class="glyphicon glyphicon-remove" th:href="${'deleteFirm/' + firm.firmId + '/' + user.userId}"></a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{'/'}+${user.userId}"><button>Tilbage</button></a>
</body>
<div>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</div>
</html>