<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/css/Topnavigationsbar.css}" href="static/css/Topnavigationsbar.css" rel="stylesheet" type="text/css" media="screen"/>

<head>
    <meta charset="UTF-8">
    <title>SaltyFirm</title>
</head>
<body>

<div class="topNavigationsbar">

    <span th:if="${user.privileges == null}">
        <form th:action="@{/}"  method="post">
            <a class="active" th:href="@{'/'}">Salty Firm</a>
            <p>Username</p>
            <input type="text" placeholder="Username" th:field="${user.username}" autocomplete="off" required>
            <p>Password</p>
            <input type="password" placeholder="password1234" th:field="${user.password}" autocomplete="off" required>
            <input type="submit" th:value="Login"/><br></p>
            <button type="button">Opret bruger</button>
        </form>
    </span>

    <span th:if="${user.privileges == 'user'}">
        <a class="active" th:href="@{'/'}">Salty Firm</a>
        <a th:href="@{'/user'} + '/' + ${user.userId}" class="btn btn-lg btn-default">Se Profil</a>
        <a th:href="@{'/createReview'} + '/' + ${user.userId}" class="btn btn-lg btn-default">Opret Anmeldelse</a>

        <td  th:text="'Logget ind som: '" ></td>
        <td ></td>
        <td th:text="${user.username}" ></td>
        <a th:href="@{'/'}" class="btn btn-lg btn-default">Log ud</a>
    </span>

    <span th:if="${user.privileges == 'admin'}">
        <a class="active" th:href="@{'/'}">Salty Firm</a>
        <a th:href="@{'/user'} + '/' + ${user.userId}" class="btn btn-lg btn-default">Se Profil</a>
        <a th:href="@{'/editUser'} + '/' + ${user.userId}" class="btn btn-lg btn-default">Se Brugerliste</a>

        <td  th:text="'Logget ind som: '" ></td>
        <td ></td>
        <td th:text="${user.username}" ></td>

        <a th:href="@{'/'}" class="btn btn-lg btn-default">Log ud</a>
    </span>
</div>

<div class="maincontent">

    <h1>Velkommen til Salty Firm!</h1>
    <h3>Stedet hvor du kan se anmeldelser fra medarbejdere og selv give anmeldelser ... </h3>
    <b style="text-align: center"> Søg efter firma </b>
    <input style="text-align: center" type="text" placeholder="Search...">
</div>


<div class="bottomBar">
    <b> Følg os på: <medi></medi></b>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
</div>

</body>
<div>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</div>
</html>