<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/css/Stylesheet.css}" href="/css/Stylesheet.css" rel="stylesheet" type="text/css" media="screen"/>
<link th:href="@{/img/business-wallpaper.jpg}" href="/static/img/" rel="stylesheet" media="screen"/>


<head>
    <meta charset="UTF-8">
    <title>SaltyFirm</title>
</head>
<body style="background-image: url(/img/business-wallpaper.jpg); background-attachment: fixed; background-size: 100% 100%">

<div class="topNavigationsbar">
    <span th:if="${user.privileges == null}">
        <form th:action="@{/}"  method="post">
            <tr>
                <td style="text-align: left;font-size: 20px"><a class="Logo" th:href="@{'/'}" style="text-decoration:none;color: inherit">SALTY<span style="color: dodgerblue">FIRM</span></a></td>
                <td th:text="'Username'" style="margin-left: 5px"></td>
                <td><input type="text" placeholder="Username" th:field="${user.username}" autocomplete="off" style="line-height: 30px;height: 30px" required></td>
                <td th:text="' Password'" style="margin-right: 20px"></td>
                <td><input type="password" placeholder="Password" th:field="${user.password}" autocomplete="off" style="line-height: 30px;height: 30px" required></td>
                <td><input style="margin-right: 10px;margin-left: 10px" type="submit" th:value="Login" class="btn btn-lg btn-default"/></td>
                <td><a style="margin-right: 25px;margin-left: 25%" th:href="${'/createUser'}" class="btn btn-lg btn-default"><button type="button">Opret bruger</button></a></td>
            </tr>
        </form>
    </span>
    <span th:if="${user.privileges == 'user'}">
        <tr>
            <td style="text-align: left"><a class="Logo" th:href="@{'/'}+ ${user.userId}" style="text-decoration:none;color: inherit">SALTY<span style="color: dodgerblue">FIRM</span></a></td>
            <td><a th:href="@{'/user'} + '/' + ${user.userId}" class="btn btn-lg btn-default">Se Profil</a></td>
            <td><a th:href="@{'/createReview'} + '/' + ${user.userId}" class="btn btn-lg btn-default">Opret Anmeldelse</a></td>
            <td  th:text="'Logget ind som: '" ></td>
            <td th:text="${user.username}" ></td>
            <td><a th:href="@{'/'}" class="btn btn-lg btn-default" style="margin-top: 5px; margin-bottom: 5px;margin-right: 25px;margin-left: 25%">Log ud</a></td>
        </tr>
    </span>
    <span th:if="${user.privileges == 'admin'}">
        <td style="text-align: left"><a class="Logo" th:href="@{'/'}+ ${user.userId}" style="text-decoration:none;color: inherit">SALTY<span style="color: dodgerblue">FIRM</span></a></td>
        <a th:href="@{'/user'} + '/' + ${user.userId}" class="btn btn-lg btn-default">Se Profil</a>
        <a th:href="@{'/userList'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin-left: 10px;margin-right: 10px">Se Brugerliste</a>
        <a th:href="@{'/firmList'} + '/' + ${user.userId}" class="btn btn-lg btn-default" style="margin-top: 5px; margin-bottom: 5px;margin-right: 10%">Se Firmliste</a>

        <td  th:text="'Logget ind som: '" style="margin-right: 10%"></td>
        <td th:text="${user.username}" ></td>
        <td><a th:href="@{'/'}" class="btn btn-lg btn-default" style="margin-right: 25px;margin-left: 10%">Log ud</a></td>
    </span>
</div>

<div class="maincontent">

    <br><br><br><br>
    <h1 class="header" style="font-weight: bold; z-index: 1;">VELKOMMEN TIL SALTY<span style="color: dodgerblue;font-weight: bold">FIRM</span></h1>
    <h3>Stedet hvor du kan se anmeldelser fra medarbejdere og selv give anmeldelser ... </h3>
    <br><br><br><br>
    <h4> Søg efter firma</h4>
    <div class="container" style="text-align: center">
        <form class="searchBar" th:action="@{/search}" method="post">
            <input type="text" th:field="${firm.firmName}" placeholder="Søg på firma..." style="width: 50%" required/>
            <input type="submit" value="Søg" style="width: 10%">
        </form>
    </div>
</div>

<div class="bottomBar" style="margin-right: 20px">
    <b style="font-size: large;margin-right: 10px">Følg os på:</b>
    <a href="#" class="fa fa-facebook" style="margin-right: 10px;font-size: 150%"></a>
    <a href="#" class="fa fa-twitter" style="font-size: 150%"></a>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>