<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <div class="info">
        <h1>Søgeresultat</h1>
        <h3>Din søgning: ... fandt </h3>
    </div>

    <div class="søgereasultat">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Firma logo</th>
                    <th>Firma navn</th>
                    <th>Overall rating</th>
                </tr>
            </thead>

            <tbody>
                <!--
            <tr th:each="Indsæt firms: ${Indsæt liste af firms}">
                   <td th:text="${Indsæt firma logo}"/>
                    <td th:text="${indsæt firma navn}"/>
                    <td th:text="${Indsæt firmaets rating}"/>
               -->
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>