<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/css/Stylesheet.css}" href="/css/Stylesheet.css" rel="stylesheet" type="text/css" media="screen"/>
<link th:href="@{/img/business-wallpaper.jpg}" href="/static/img/" rel="stylesheet" media="screen"/>

<head>
    <meta charset="UTF-8">
    <title>SaltyFirm</title>
</head>
<body style="background-image: url(/img/business-wallpaper.jpg); background-attachment: fixed; background-size: 100% 100%">
<h1>Profil for <td th:text="${user.firstname}+' '+${user.lastname}"></td></h1>
<div class="container">
<table class="table table-bordered table-hover">
    <tr>
        <td><p>Brugernavn</p></td>
        <td th:text="${user.username}"></td>
    </tr>
    <tr>
        <td><p>Navn</p></td>
        <td th:text="${user.firstname}+' '+${user.lastname}"></td>
    </tr>
    <tr>
        <td><p>Telefon nummer</p></td>
        <td th:text="${user.phoneNumber}"></td>
    </tr>
    <tr>
        <td><p>Email adresse</p></td>
        <td th:text="${user.mail}"></td>
    </tr>
    <tr>
        <td><p>Fødselsdag</p></td>
        <td th:text="${user.birthdate}"></td>
    </tr>
    <tr>
        <td><p>Nationalitet</p></td>
        <td th:text="${user.nationality}"></td>
    </tr>
    <tr>
        <td><p>Uddannelse</p></td>
        <td th:text="${user.education}"></td>
    </tr>
    <tr>
        <td><p>Køn</p></td>
        <td th:switch="${user.gender}">
            <span th:case="'f'">Kvinde</span>
            <span th:case="'m'">Mand</span>
            <span th:case="'null'">Ikke oplyst</span>
        </td>
    </tr>
    <tr>
        <td><p>Instillinger</p></td>
        <td>
            <a th:href="@{/user/editUser/}+${user.userId}"><button type="button">Rediger bruger</button></a>
            <a th:href="@{/user/deleteBasicUser/}+${user.userId}"><button type="button" >Slet bruger</button></a>
        </td>
    </tr>
</table>
</div>
<h1>Oversigt over anmeldelser</h1>
<div class="container">
<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>Firma</th>
        <th>Afdeling</th>
        <th>Kommentar</th>
        <th>Løntrin</th>
        <th>Arbejdstider</th>
        <th>Stilling</th>
        <th>Pensionsordning</th>
        <th>Personale goder</th>
        <th>Ledelsen</th>
        <th>Arbejdsmiljø</th>
        <th>Flexibilitet</th>
        <th>Instillinger</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review : ${reviews}">
        <td><p th:text="${review.firmName}"></p></td>
        <td><p th:text="${review.departmentName}"></p></td>
        <td><p th:text="${review.post}"></p></td>
        <td th:switch="${review.salary}">
            <span th:case="'1'">Under 10.000 kr.</span>
            <span th:case="'2'">10.000 - 15.000 kr.</span>
            <span th:case="'3'">15.000 - 20.000 kr.</span>
            <span th:case="'4'">20.000 - 25.000 kr.</span>
            <span th:case="'5'">25.000 - 30.000 kr.</span>
            <span th:case="'6'">30.000 - 35.000 kr.</span>
            <span th:case="'7'">35.000 - 40.000 kr.</span>
            <span th:case="'8'">40.000 - 45.000 kr.</span>
            <span th:case="'9'">45.000 - 50.000 kr.</span>
            <span th:case="'10'">Over 50.000 kr.</span>
        </td>
        <td><p th:text="${review.employmentTime}+' måneder'"></p></td>
        <td><p th:text="${review.position}"></p></td>
        <td><p th:text="${review.PensionScheme} + ' / 10'"></p></td>
        <td><p th:text="${review.benefits} + ' / 10'"></p></td>
        <td><p th:text="${review.management} + ' / 10'"></p></td>
        <td><p th:text="${review.workEnvironment} + ' / 10'"></p></td>
        <td><p th:text="${review.flexibility} + ' / 10'"></p></td>
        <td>
            <a th:href="@{/user/editReview/}+${user.userId}+'/'+${review.reviewId}"><button type="button">Rediger</button></a>
            <a th:href="@{/user/deleteReview/}+${user.userId}+'/'+${review.reviewId}"><button type="button" >Slet</button></a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<a th:href="@{'/'}+${user.userId}"><button>Tilbage</button></a>
</body>
</html>